[Unit]
Description=Python temperature logger using BME280 and BMP280 sensors and InfluxDB as the data storage.

[Service]
Type=simple
Restart=always
RestartSec=30
User=pi
ExecStart=/usr/bin/python3 /home/pi/projects/temp_logger/logger/logger.py

[Install]
WantedBy=multi-user.target
